body {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    background-color: #F8F8FF;
    box-shadow: 0 10px 40px rgba(80, 185, 255, 0.200);
    max-width: 1000px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.profile-container:hover {
    transform: translateY(-5px);
}

.profile-left {
    flex: 1;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-image {
    width: 60%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 0px;
}

.profile-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.profile-content {
    max-width: 450px;
    text-align: left;
}

.greeting {
    font-size: 1rem;
    font-weight: 200;
    color: #000000;
    margin-bottom: 5px;
    display: block;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 1.2;
    color: #3c3c3c;
}

.role {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-top: 0;
}

.divider {
    width: 80px;
    height: 3px;
    background-color: #50B9FF;
    border: none;
    margin: 25px 0;
}

.bio {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #555;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contact-button {
    text-decoration: none;
    background-color: #50B9FF;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 500;
    transition: background-color 0.1s ease, transform 0.2s ease;
}

.contact-button:hover {
    background-color: #4095ce;
    transform: translateY(-2px);
}

/*responsif*/
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-left {
        padding: 20px;
    }

    .profile-right {
        padding: 30px;
    }

    .profile-content {
        text-align: center;
    }

    .divider {
        margin: 25px auto;
    }

    .contact-links {
        justify-content: center;
    }
}

.contact-button i {
    margin-right: 8px; 
    font-size: 18px;
}
